<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
      http://www.springframework.org/schema/security
      http://www.springframework.org/schema/security/spring-security-3.2.xsd
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<http create-session="stateless">
		<intercept-url pattern="/secure/**" access="ROLE_USER" />
		<http-basic />
  	</http>

	<authentication-manager alias="authenticationManager">
		<authentication-provider ref="myAuthenticationProvider" />
	</authentication-manager>
	
	<beans:bean id="myAuthenticationProvider" class="com.camsouthcott.security.MyAuthenticationProvider"/>
</beans:beans>